<!-- Config file for the game -->

<config>
  <app>
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1280" height="860" scale="3"/>
    <!-- <resolution width="640" height="480" scale="2"/>-->
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
    <file name="JAIL" loaded="0"/>
    <file name="rock_level" loaded="1"/>	
  </map>

<scene>
  <file music_name = "audio/music/Armored Armadillo.ogg"/>
  <scroll speed = "2.5" />
  <level id="1" rock = "rock_level.tmx"/>
  <level id="2" jail = "JAIL.tmx"/>
  
</scene>

<player>
  <file name = "textures/8bitmegaman.png" />
  <physics velocityx = " 150.0" velocityy = "480.0" gravity = "200.0"/>
  <movement jumpframes= "15"/>
  <size x= "22" y= "22" />
</player>

<enemies>
  <file name = "textures/enemies.png" />
</enemies>

</config>