<!-- Config file for the game -->

<config>
  <app>
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
    <game_saving_xml name = "save_game.xml" want_to_save = "false"/>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1280" height="860" scale="3"/>
    <!-- <resolution width="640" height="480" scale="2"/>-->
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
    <file name="JAIL.tmx" loaded="0"/>
    <file name="rock_level.tmx" loaded="1"/>	
  </map>

<scene>
  <file music_name = "audio/music/Armored Armadillo.ogg"/>
  <scroll speed = "2.5" />
  
  <levels>
    <!-- <map first="1"/>-->
    <first_level id= "1" loaded= "1" name = "rock_level.tmx"/>
    <second_level id= "2" loaded= "0" name = "JAIL.tmx"/>
  </levels>

  <enemy_pos>
    <Air1-1 x ="260" y="170"/>
    <Ground1-1 x ="550" y="170"/>
    <Air1-2 x ="1200" y="200"/>
    <Air2-1 x ="320" y="170"/>
    <Ground2-1 x ="1050" y="200"/>
  </enemy_pos>
  
</scene>

<player>
  <file name = "textures/8bitmegaman.png" />
  <physics velocityx = " 150.0" velocityy = "480.0" gravity = "200.0"/>
  <movement jumpframes= "15"/>
  <size x= "22" y= "22" />
</player>

<enemies>
  <file name = "textures/enemies.png" />

  <blader>
    <size x = "16" y = "21"/>
  </blader>
  
</enemies>

</config>