<!-- Config file for the game -->

<config>
  <app>
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
    <game_saving_xml name = "save_game.xml" want_to_save = "false"/>
    <framerate_capped value ="true"/>
    <framerate_cap value = "30"/>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1280" height="860" scale="3"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>
  
  
  <map>
    <folder>maps</folder>
  </map>

  <scene>
    <file music_name = "audio/music/Armored Armadillo.ogg"/>
    <scroll speed = "2.5" limit ="64" />
    <map limit="30"/>
    <levels>
      <first_level id= "1" loaded= "1" name = "rock_level.tmx"/>
      <second_level id= "2" loaded= "0" name = "JAIL.tmx"/>
    </levels>

    <enemy_pos>
      <Air1-1 x ="260" y="170"/>
      <Ground1-1 x ="550" y="170"/>
      <Air1-2 x ="1500" y="50"/>
      <Ground1-2 x ="1900" y="100"/>
      <Air2-1 x ="320" y="170"/>
      <Ground2-1 x ="1050" y="200"/>
      <Air2-2 x ="1500" y="50"/>
      <Ground2-2 x ="1900" y="100"/>
    </enemy_pos>
    
  </scene>

  <player>
    <file name = "textures/8bitmegaman.png" />
    <physics velocityx = " 150.0" velocityy = "320.0" gravity = "200.0" floor_level = "250"/>
    <movement jumpMaxTime= "0.5"/>
    <size x= "22" y= "22" />
    <animation idle_speed ="5" right_speed="10" left_speed="10" jumpR_speed="10" sJump_speed="10" 
               idle_inv_speed="10" right_inv_speed="15" left_inv_speed="15" jumpR_inv_speed="15" sJump_inv_speed="15"/>
  </player>

  <enemies>
    <file name = "textures/enemies.png" />

    <blader>
      <size x = "16" y = "21"/>
      <physics speed ="60.0"/>
      <player_radar positioning_barrier="700" limit_1="0" limit_2= "1300" ending_limit= "300"/>
      <animation speed="8.0"/>
    </blader>
    
    <crazy_razy>
      <size x = "32" y = "31"/>
      <physics speed ="100.0" gravity = "200.0"/>
      <player_radar positioning_barrier="1000" limit_1="100" limit_2= "1350" ending_limit= "200"/>
      <animation speed1="8.0" speed2="8.0"/>
    </crazy_razy>
 
 </enemies>

</config>